:root {
    --search-map-venue-item-horizontal-margin: 16px;
}

.search-map-container {
    display: flex;
    height: calc(
        100vh - var(--header-height-small-screens) -
            var(--header-separator-height)
    );
    overflow: hidden;
    //background-color: yellow;
}

.search-map-left {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;
    //background-color: pink;
}

.search-map-venue-item {
    width: calc(
        (100% - 6 * var(--search-map-venue-item-horizontal-margin)) / 3
    );
    font-size: 16px;
    height: 229px;
    border-radius: 3px;
    margin: 16px;
    border: 1px solid#BDBDBD;
    box-sizing: border-box;
    //background-color: grey;
}

.search-map-venue-item:hover {
    opacity: 0.5;
    //background-color: grey;
}

.search-map-venue-item-image {
    width: 100%;
    height: 142px;
    object-fit: cover;
    margin-bottom: 10px;
}
.search-map-venue-item-name {
    text-transform: uppercase;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    line-height: 1.25;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.75rem;
    font-weight: 700;
    font-family: "Nunito";
    margin-bottom: 4px;
}

.search-map-rating-in-stars {
    height: 21px;
    color: var(--app-rating-stars-color);
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: red;
}
.search-map-open-closed-price-distance {
    display: flex;
    justify-content: center;
    height: 16px;
    //background-color: yellow;
}

.search-map-right {
    width: 0%;
    //background-color: grey;
}

@media (min-width: 992px) {
    .search-map-left {
        width: 50%;
        overflow-y: scroll;
    }

    .search-map-right {
        width: 50%;
        background-color: grey;
    }
}

@media (min-width: 1200px) {
    .search-map-container {
        height: calc(
            100vh - var(--header-height-big-screens) -
                var(--header-separator-height)
        );
    }
}

@media (min-width: 1320px) {
    .search-map-container {
        height: calc(
            100vh - var(--header-height-very-big-screens) -
                var(--header-separator-height)
        );
    }
}
