.home-backgroundTopImage {
    width: 100%; //msgjs21 100% OK mais pourquoi 100vw fait un peu plus grand ?
    height: 320px;
    object-fit: cover;
}

.home-wave-image {
    margin-top: -80px;
}

.home-container-is-loading {
    margin: 0 0 0 12px;
}
