.establishment-container-x-columns {
    margin: 0 0 0 12px; //La marge gauche sert pour les mobiles
}

.establishment-section-h2 {
    font-size: 30px;
    color: #444444;
    margin-top: -80px;
    font-family: "Nunito";
    font-weight: 800;
    margin-bottom: 40px;
    // background-color: #4caf50;
    // border: 3px solid red;
}

.establishment-section-establishment-card {
    width: calc(100% - 24px);
    height: 410px;
    // background-color: aqua;
}

.establishment-section-card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 7px;
}

.establishment-section-establishment-type-and-name {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.establishment-section-establishment-type-image {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.establishment-section-establishment-name {
    color: #4caf50; //msgjs21 il y a une couleur hoover
    font-family: "Nunito";
    font-weight: 700;
}

.establishment-section-adress {
    font-family: "Nunito";
    font-weight: 700;
    color: #777777;
    margin-bottom: 5px;
}

.establishment-section-star {
    width: 20px;
    height: 20px;
}

.establishment-section-around-star {
    margin-bottom: 10px;
}

.establishment-section-establishment-card > p {
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    // Début du code pour les points de suspension
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    padding: 0;
    // Fin du code pour les points de suspension
}

//1200 and more : 4 établissements par ligne : 1152 de largeur : 4 images de 270 (* 175) + 3 marges de 24 = 1080 + 72 = 1152
//992 -> 1199 : 3 établissements par ligne
//768 -> 992 : 2 établissements entiers par ligne
//0 -> 767 : 1.x établissements par ligne

@media (min-width: 768px) {
    .establishment-container-x-columns {
        width: calc(100% - 24px);
        margin: 0 auto;
        // background-color: yellow;
    }
    .establishment-section-h2 {
        margin-top: -95px;
        margin-bottom: 40px;
    }
    .establishment-section-establishment-card {
        width: calc(100% - 24px);
        height: 414px;
        // background-color: green;
    }
    .establishment-section-card-image {
        height: 255px;
    }
}

@media (min-width: 992px) {
    .establishment-container-x-columns {
        width: calc(
            100% - 48px
        ); //100% -48px OK mais pourquoi 100vw - 48px n'est pas tout à fait OK ?
        margin: 0 auto;
        // background-color: red;
    }
    .establishment-section-h2 {
        margin-top: -95px;
        margin-bottom: 40px;
    }
    .establishment-section-establishment-card {
        width: calc(100% - 24px);
        height: 410px;
        // background-color: purple;
    }
}

@media (min-width: 1200px) {
    .establishment-container-x-columns {
        width: calc(
            1152px + 24px
        ); //+24 px à cause du package react-multi-carousel qui veut une marge à droite de la dernière card
        margin: 0 auto;
        // background-color: green;
    }
    .establishment-section-h2 {
        margin-top: -95px;
        margin-bottom: 40px;
    }
    .establishment-section-establishment-card {
        width: 270px;
        height: 335px;
        // background-color: aqua;
    }
    .establishment-section-card-image {
        height: 175px;
    }
}
