$vegetarianColor: #8a2091;
$veganColor: #21820d;
$vegOptionsColor: #dc5d5c;
$bAndBColor: #1e85a2;

.review-title-and-more {
    font-family: "Nunito";
    color: white;
    width: 100%;
    //Pas de hauteur, les titres courts seront sur une ligne et les titres longs sur 2 lignes, voir plus.
}

.review-title-and-more-for-justify {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.review-vegan-background-color {
    background-color: $veganColor;
}
.review-veg-options-background-color {
    background-color: $vegOptionsColor;
}
.review-b-and-b-background-color {
    background-color: $bAndBColor;
}
.review-vegetarian-background-color {
    background-color: $vegetarianColor;
}

.reviews-h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 2.25rem;
    text-align: center;
    margin-bottom: 13px;
}

.reviews-under-h1 {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    //border: #8a2091 1px solid;
}

.review-establishment-type {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 0.375rem;
    line-height: 1.6rem;
    font-weight: 700;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-size: 0.75rem;
    margin-right: 12px;
}
.review-vegan-color {
    color: $veganColor;
}
.review-veg-options-color {
    color: $vegOptionsColor;
}
.review-b-and-b-color {
    color: $bAndBColor;
}
.review-vegetarian-color {
    color: $vegetarianColor;
}

.review-establishment-type-icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.reviews-rating-in-stars {
    display: flex;
    align-items: center;
    //border: red 2px solid;
}

.reviews-container {
    margin-left: 12px;
    margin-right: 12px;
    font-family: "Nunito";
}

.reviews-description-and-more {
    margin-top: 20px;
}

// .reviews-description-and-more-left-or-top {
//     background-color: yellow;
// }
.reviews-hours-contact-adress {
    display: block;
    margin-bottom: 20px;
}
.reviews-hours-contact-adress svg {
    width: 2rem;
    margin-right: 15px;
}
.reviews-flex-column {
    display: flex;
    flex-direction: column;
}
.reviews-hours-contact-adress-first-line {
    font-weight: 700;
    line-height: 24px;
}

.reviews-color-open {
    color: #2e7d32;
}
.reviews-color-closed {
    color: #e53935;
}
.reviews-font-14px-500 {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.reviews-hours-with-icon {
    display: flex;
    align-items: flex-start;
}

.reviews-contact-with-icon {
    display: flex;
    align-items: flex-start;
}
.reviews-adress-with-icon {
    display: flex;
    align-items: flex-start;
}

.reviews-description {
    line-height: 24px;
    font-weight: 500;
}

.reviews-description-and-more-right-or-bottom {
    height: 450px;
    //background-color: grey;
}

.leaflet-container {
    width: 100%;
    height: 450px;
}

@media (min-width: 576px) {
    .review-title-and-more-for-justify {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 12px;
        margin-right: 12px;
    }

    .reviews-h1 {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .reviews-description-and-more {
        display: flex;
    }

    .reviews-description-and-more-left-or-top {
        width: 58.333333%;
        height: 450px;
    }
    .reviews-description-and-more-right-or-bottom {
        width: 41.666667%;
        height: 450px;
    }
}
@media (min-width: 992px) {
    .review-title-and-more-for-justify {
        margin-left: 24px;
        margin-right: 24px;
    }

    .reviews-container {
        margin-left: 24px;
        margin-right: 24px;
    }
    .reviews-description-and-more-left-or-top {
        width: 66.666667%;
    }
    .reviews-hours-contact-adress {
        display: flex;
        justify-content: space-between;
    }
    .reviews-hours-contact-adress > div {
        width: 33%;
    }

    .reviews-description-and-more-right-or-bottom {
        width: 33.333333%;
    }
}

@media (min-width: 1200px) {
    .review-title-and-more-for-justify {
        margin-left: auto;
        margin-right: auto;
        padding-left: 24px;
        padding-right: 24px;
        max-width: 1200px;
    }
    .reviews-container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 24px;
        padding-right: 24px;
        max-width: 1200px;
    }
}
