.dollar-icons-main {
    display: flex;
    //border: #21820d 2px solid;
}
.dollar-icons-main-small {
    margin-top: 2px;
}

.dollars-icon-one-icon {
    width: 10.83px;
    height: 20px;
    color: var(--app-rating-stars-color);
    margin-right: 4px;
}

.dollar-icons-yellow {
    color: var(--app-rating-stars-color);
}

.dollar-icons-grey {
    color: rgb(158, 158, 158);
}
