:root {
    --header-separator-height: 4px;
    --header-height-small-screens: 70px;
    --header-height-big-screens: 60px;
    --header-height-very-big-screens: 66px;
}

.header-header {
    height: 70px;
    display: flex;
    align-items: center;
}

.header-image {
    width: 160px;
    max-height: var(--header-height-small-screens);
    margin-left: 20px;
    margin-top: 4px;
}

.header-separator {
    height: var(--header-separator-height);
    background-color: #7c4ec4;
}

@media (min-width: 1200px) {
    .header-header {
        height: var(--header-height-big-screens);
    }
    .header-image {
        width: 180px;
        max-height: 41px;
        margin-top: -8px;
    }
}

@media (min-width: 1320px) {
    .header-header {
        height: var(--header-height-very-big-screens);
    }
    .header-image {
        width: 200px;
        max-height: 50px;
        margin-top: -9px;
        margin-left: 25px;
    }
}
