.rating-in-stars-main {
    display: flex;
    text-align: center;
}

.rating-in-stars-star {
    width: 20px;
    height: 20px;
}

.rating-in-stars-small-star {
    width: 16px;
    height: 16px;
    font-size: 10px;
}
